<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chaperone | Home Page</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <link
      href="https://unpkg.com/filepond@^4/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="fileupload.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="top-bar">
        <p class="logo">CHAPERONE</p>
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <ul class="nav-list-items">
        <li class="nav-list-item">POLITICS</li>
        <li class="nav-list-item">POWER</li>
        <li class="nav-list-item">ECONOMICS</li>
        <li class="nav-list-item">FASHION</li>
        <li class="nav-list-item">DONATE</li>
      </ul>
    </nav>
  </body>
</html>
